<h1>
  Create a New Secret
</h1>

<form action="/secret" method="post">
  <textarea type="text" name="secret_text" placeholder="Your secret here..."></textarea>
  <br>
  <input type="submit" value="Create Secret">
</form>